/*Full background*/
body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: rgb(38, 36, 36);
}
/*Welcome 'name' box, Your Horses box*/
h1, h2 {
    color: white;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul {
    list-style-type: none;
    padding: 0;
    color: white;
    font-weight: 400;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
/*The boxes aroung the names*/
li {
    margin: 8px 0;
    padding: 7px;
    border-radius: 5px;
}

form input, form button {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
}
/*Main text for horse name, 
(add a horse button, sign out, edit horse, add a new workout, back to home) buttons
*/
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
a:hover {
    text-decoration: underline;
}

.logo {
    width: 50px;
    height: auto;
}

.site-title a{
    color: green;
    font-size: 90px;
    text-decoration: none;
    cursor: pointer;
}
/*Workout Details content, Age content, 'Workouts' content*/
.content {
    color: white;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

