{% extends 'tracker/base.html' %}

{% block content %}
<h2>Workout Details</h2>

<p>Date: {{ workout.date }}</p>
<p>Type: {{ workout.workout_type }}</p>
<p>Duration: {{ workout.duration_minutes }} minutes</p>
<p>Track Condition: {{ workout.get_track_condition_display }}</p>
<p>Horse Leg wraps: {{ workout.get_wrapped_display }}</p>



{% if workout.notes %}
<p>Notes: {{ workout.notes }}</p>
{% endif %}

<p><a href="{% url 'horse_detail' workout.horse.id %}">← Back to {{ workout.horse.horseName }}</a></p>
{% endblock %}
